

#category-form { 
	display: flex; 
	justify-content: center; 
	margin-bottom: 20px; 
} 

.category-input { 
	padding: 10px; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
	outline: none; 
} 


#delete-category {
	background-color: #660b1f; 
}

#edit-category {
	background-color: #6d707a; 
}